<div class="d-flex align-items-center justify-content-between ms-5">
  <div class="d-flex col">
    <%= image_tag holding.icon, size: "35x35", class: "align-self-center me-1" %>

    <div class="col d-flex flex-column m-2">
      <span class="fs-5"><%= holding.ticker %></span>
      <br>
      <span class="fs-6 text-white-50"><%= number_to_currency holding.rate %></span>
    </div>
  </div>

  <div class="col balance-details d-flex justify-content-start">
    <div class="d-flex flex-column">
      <span class="fs-5"><%= holding.amount %></span>
      <span class="fs-6 text-white-50"><%= number_to_currency holding.value %></span>
    </div>
  </div>

  <div class="col manage-cell">
    <%= link_to "Manage", root_path, class: "btn btn btn-outline-secondary" %>
  </div>
</div>