<%= turbo_frame_tag "management_console" do %>
  <%= render partial: "shared/form_errors", locals: { model: @portfolio } %>

  <div id="container" class="container w-100">
    <div class="row d-flex align-content-around">
      
      <div class="w-100 text-center">
        <%= turbo_frame_tag "form_title" do %>
          <h3 class="display">New Portfolio</h3>
        <% end %>
      </div>
      
      <div class="text-center">
        <%= form_with model: @portfolio do |f| %>
          <div class="">
            <%= f.text_field :name, 
                             class: "form-control mb-3 mt-1 text-center", 
                             placeholder: "Portfolio name",
                             autofocus: true %>
          </div>
          <div>
            <%= f.submit "Create", class: "btn btn-outline-light w-100" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>