<section>

  <div id="manage-options">
    <%= render partial: "holdings/manage_options", locals: { portfolio: @portfolio, coins: @coins } %>
  </div>

  <br>
  
  <div id="portfolio-container" class="container border border-dark rounded-2 p-3 bg-dark text-white">

    <div id="portfolio-header" class="row align-baseline ms-5 d-flex align-items-end">
      <div class="col-md-4 ">
        <h3 class="display-5"><%= @portfolio.name %></h3>
      </div>
      <div id="portfolio-balance" class="col-md-4 d-flex flex-column">
        <span class="text-white-50 ">Balance:</span>
        <span class="fs-2"><%= number_to_currency @portfolio.total_value %></span>
      </div>

      <div id="portfolio-options" class="col-md-4">
        <%= link_to new_portfolio_holding_path(@portfolio), class: "text-white-50 ms-2 me-3" do %> 
          <i class="fa-solid fa-plus fa-2xl"></i>
        <% end %>
        <%= link_to root_path, class: "text-white-50" do %>
          <i class="fa-solid fa-gear fa-2xl"></i>
        <% end %>
      </div>
    </div>

    <hr class="border border-black opacity-50">

    <% if @portfolio.holdings.empty? %>
      <div>
        <p>Your portfolio is empty. Add coins to see them here</p>
      </div>
    <% end %>
    
    <div id="coins-table">
      <div id="list-header" class="row d-flex justify-content-around mb-3 ms-5">
        <div class="col-md-4">
          <span class="fs-5 text-white-50">Asset</span>
        </div>
        <div class="col-md-4">
          <span class="fs-5 text-white-50">Balance</span>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div id="coins-list" >
        <% @portfolio.holdings.each do |holding| %>
          <div class="coin-cell row mb-2 rounded-2 align-items-center" id="<%= holding.ticker.downcase %>_details">
            <%= render holding %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>