<section>
  <h1><%= @portfolio.name %></h1>

  <div id="portfolio-container">
    <div>
      <%= link_to "Add new Holding", new_portfolio_holding_path(@portfolio) %>
    </div>
    <br>
    <details id="manage-options">
      <summary>Manage portfolio</summary>
      <br>
      <%= form_with url: portfolio_holding_path(@portfolio), method: :put do |f| %>
        <div>
          <%= f.radio_button :operation, "deposit" %>
          <%= f.label :operation_deposit, "Deposit" %>
          <%= f.radio_button :operation, "withdraw" %>
          <%= f.label :operation_withdraw, "Withdraw" %>
          <%= f.radio_button :operation, "update" %>
          <%= f.label :operation_update, "Update" %>
        </div>
        <div>
          <%= f.collection_select :coin_id, @coins, :id, :ticker, prompt: "Coin" %>
          <%= f.number_field :amount, step: 0.00001, placeholder: "Amount" %>
        </div>
        <div>
          <%= f.submit "Confirm" %>
        </div>
      <% end %>
    </details>

    <br>

    <% if @portfolio.holdings.empty? %>
      <div>
        <p>Your portfolio is empty. Add coins to see them here</p>
      </div>
    <% end %>
    
    <table>
      <thead>
        <tr>
          <th>Coin</th>
          <th>Amount</th>
          <th>Rate (USD)</th>
          <th>24h change</th>
          <th>Value</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        <% @portfolio.holdings.each do |holding| %>
          <tr>
            <td><%= holding.ticker %></td>
            <td><%= holding.amount %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" id="total-col">TOTAL</td>
          <td colspan="2"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>