<section>

  <div id="manage-options">
    <%= render partial: "holdings/manage_options", locals: { portfolio: @portfolio, coins: @coins } %>
  </div>

  <br>
  
  <div id="portfolio-container">

    <div id="portfolio-header">
      <h3><%= @portfolio.name %></h3>
      <div id="portfolio-balance">
        <h4>Balance:</h4>
        <%= number_to_currency @portfolio.total_value %>
      </div>

      <br>

      <div id="portfolio-options">
        <%= link_to "Add new Holding", new_portfolio_holding_path(@portfolio) %>
        <%= link_to "Manage portfolio" %>
      </div>
    </div>

    <br>
    <hr>

    <% if @portfolio.holdings.empty? %>
      <div>
        <p>Your portfolio is empty. Add coins to see them here</p>
      </div>
    <% end %>
    
    <div id="coins-table">
      <div id="list-header">
        <p>Asset</p>
        <p>Balance</p>
        <p>%</p>
      </div>
      <div id="coins-list">
        <% @portfolio.holdings.each do |holding| %>
          <div class="coin-cell" id="<%= holding.ticker.downcase %>_details">
            <%= render holding %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>