<section>
  <h1><%= @portfolio.name %></h1>

  <div id="portfolio-container">
    <div>
      <%= link_to "Add new Holding", new_portfolio_holding_path(@portfolio) %>
    </div>
    <br>
    <div id="manage-options">
      <%= render partial: "holdings/manage_options", locals: { portfolio: @portfolio, coins: @coins } %>
    </div>

    <br>

    <% if @portfolio.holdings.empty? %>
      <div>
        <p>Your portfolio is empty. Add coins to see them here</p>
      </div>
    <% end %>
    
    <div id="coins-table">
      <table>
        <thead>
          <tr>
            <th>Coin</th>
            <th>Amount</th>
            <th>Rate (USD)</th>
            <th>24h change</th>
            <th>Value</th>
            <th>%</th>
          </tr>
        </thead>
        <tbody>
          <% @portfolio.holdings.each do |holding| %>
            <tr>
              <td><%= holding.ticker %></td>
              <td><%= holding.amount %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" id="total-col">TOTAL</td>
            <td colspan="2"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var coinSelect = document.getElementById("coin_id");
    var confirmButton = document.getElementById("confirm_button");

    if (coinSelect.value === "") {
      confirmButton.disabled = true;
    }
    
    coinSelect.addEventListener("change", function() {
      if (this.value === "") {
        confirmButton.disabled = true;
      } else {
        confirmButton.disabled = false;
      }
    });
  });
</script>