<section>
  <h1><%= @portfolio.name %></h1>

  <div id="portfolio-container">
    <div>
      <%= link_to "Add new Holding", new_portfolio_holding_path(@portfolio) %>
    </div>
    <br>
    <div id="manage-options">
      <%= render partial: "holdings/manage_options", locals: { portfolio: @portfolio, coins: @coins } %>
    </div>

    <br>

    <% if @portfolio.holdings.empty? %>
      <div>
        <p>Your portfolio is empty. Add coins to see them here</p>
      </div>
    <% end %>
    
    <div id="coins-table">
      <table>
        <thead>
          <tr>
            <th>Coin</th>
            <th>Amount</th>
            <th>Rate (USD)</th>
            <th>24h change</th>
            <th>Value</th>
            <th>%</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @portfolio.holdings.each do |holding| %>
            <tr>
              <td><%= holding.ticker %></td>
              <td><%= holding.amount %></td>
              <td><%= holding.rate %></td>
              <td></td>
              <td><%= holding.value %></td>
              <td></td>
              <td style="text-align: center;">
                <%= button_to "X", portfolio_holding_path(@portfolio, holding), method: :delete, data: { turbo_confirm: "Remove #{holding.ticker} from portfolio?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" id="total-col">TOTAL</td>
            <td colspan="2"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>