<h1>Update</h1>

<section>
  <div class="form">
    <%= form_with url: portfolio_updates_path(@portfolio), method: :post do |f| %>
      <div>
        <%= fields_for :update do |b| %>
          <%= b.collection_select :coin_id, @coins, :id, :ticker, prompt: "Coin" %>
          <%= b.number_field :amount, step: 0.0001, placeholder: "Amount" %>
          <%= b.hidden_field :portfolio_id, value: @portfolio.id %>
        <% end %>
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to "Back", root_path %>
  </div>
</section>